


/* #region rule common  */

:root{
    --dis-bg-heade:#add8e6FF;
    --dis-bg-nav: #daa520FF;
    --dis-bg-img: #00008bFF;
    --di-bg-concen:#ee82eeFF;
}

/* #endregion rule common  */


body{
    margin: 0;
}





/* classe che serve solo di riempimento*/

.debug{
    background-color: red;
}
/* #region header */

#site-header{
    background-color: var(--dis-bg-heade);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;;
}

.nav{
    display: flex;
    justify-content: center;
   background-color: var(--dis-bg-nav);
}

.logo{
    flex-grow: 1;
    text-align: left;
    border: 1px black dashed;
    
}

.link{
    flex-grow: 3;
    text-align: center;
    border: 1px black dashed;
}

.login{
    flex-grow: 1;
    text-align: right;
    border: 1px black dashed;
}

/* #endregion header*/

/* #region main */

#site-main{
    background-color: blue;
    height: 800px;
}

.bg-img{
    background-color: var(--dis-bg-img);
    padding: 3rem;
}

.container-central{
    text-align: center;
    border: rgb(169, 195, 5) 1px dashed;
    background-color: var(--di-bg-concen);
}

/* #endregion main */


/* #region footer  */


#site-footer{
    background-color: red;
    height: 2%;
}


/* #endregion footer */